<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>549160674734-9rgmvh5a7odecqifa6vnjecqu3domlrl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.549160674734-9rgmvh5a7odecqifa6vnjecqu3domlrl</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>549160674734-pv6bgrg94o01mtdfggpnmkn9grh16bpn.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDapKynbOvqEmowU-vn5PNg82dyEoms0YE</string>
	<key>GCM_SENDER_ID</key>
	<string>549160674734</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wasipetapp</string>
	<key>PROJECT_ID</key>
	<string>wasipet-app</string>
	<key>STORAGE_BUCKET</key>
	<string>wasipet-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:549160674734:ios:0de7ec1fed6f1b9dba143f</string>
	<key>DATABASE_URL</key>
	<string>https://wasipet-app.firebaseio.com</string>
</dict>
</plist>